<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
<% @tasks.each do |task| %>
  <ul>
    <li> <%= task.name %> | <%= task.who %> |
      <% urlshow = "/show/" + task.id.to_s %>
      <%= link_to 'see', urlshow %></li>
      <% urldelete = "/destroy/" + task.id.to_s %>
      <%= link_to 'delete', urldelete %></li>
  </ul>
<% end %>

<p><%= link_to 'Add a task', 'new' %></p>
